/* 传播情况统计 */
.viewItem .statistical ul{
    position: relative;
    overflow: hidden;
}
.viewItem .statistical ul li{
    float: left;
    width: 14.28%;
}
.viewItem .statistical .grid-content{
    text-align:center
}
.viewItem .statistical .grid-content .statisticalItem{
    display: inline-block;
    position: relative;
    width:140px;
    height:135px;
    border:5px solid #4642ff;
    border-radius: 50%;
}
.viewItem .statistical .grid-content .statisticalItem .itemBox{
    position: absolute;
    top:30%;
    left:0;
    right:0;
    bottom: 0;
}
.viewItem .statistical .grid-content .statisticalItem .itemBox p{
    font-size: 16px;
    font-weight: bold;
}
.viewItem .statistical .grid-content .statisticalItem .itemBox p:nth-child(2){
    color: #4642ff;
}

/* 各平台作品数占比 */
.platCon{
    margin-top:0 !important;
    margin-bottom: 0 !important;
}

/* 作品数 */
.articalCount{
    margin-top: 100px !important;
}
.articalCount ul{
    position: relative;
    overflow: hidden;
}
.articalCount ul li{
    float: left;
    width: 11%;
    margin-right: 1.5%
}
.articalCount ul li span{
    display: inline-block;
    width:100%;
    height: 83px;
    line-height: 83px;
    font-size: 500%;
    text-align: center;
}

/* 原创文章占比 */
.red{
    color: #fb5959;
}
.green{
    color:#46dd31
}
.el-table th{
    background: #f4f4f4;
    text-align: center;
    color: #444;
}
.el-table td{
    text-align: center
}
.el-table td:nth-child(1){
    text-align: left
}
.el-table .percentage{
    margin-right: 20%
}
.articalCon{
    margin-top: 120px !important;
}