.sidebar-parent-item {
  padding-top: 5px;
  padding-bottom: 5px;
}

.sidebar-parent-item:hover {
  background: #FFF;
}

.sidebar-parent-item .normal {
  padding-right: 35px;
  max-lines: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  padding-left: 25px;
  cursor: pointer;
  line-height: 25px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidebar-parent-item .select {
  color: #4642ff;
  font-weight: bold;
}

