.sidebar-child-item {
  height: 30px;
  padding-top: 5px;
}

.sidebar-child-item:hover {
  background: #FFF;
}

.sidebar-child-item .normal {
  font-size: 13px;
  height: 25px;
  padding-left: 25px;
  line-height: 25px;

  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.sidebar-parent-item .select {
  color: #4642ff;
  font-weight: bold;
}

