.navItem {
  position: relative;
  overflow: hidden;
  background: #fff;
  height: 45px;
  line-height: 45px;
  padding-left: 175px;
  border-bottom: 1px #E2E3E4 solid;
}
.navItem_single{
  position: relative;
  overflow: hidden;
  background: #fff;
  height: 45px;
  line-height: 45px;
  padding-left: 50px;
  border-bottom: 1px #E2E3E4 solid;
}
.navItemSearch{
  float: left;
  margin-right: 30px;
}

.navItemSearch .el-input__inner {
  width: 500px;
  height: 30px;
  border-radius: 50px;
}

.navItemTime {
  position: relative;
  float: left;
}

.navItemTime .el-input__inner {
  border: 0px;
}

.navItemTime .el-input__prefix {
  left: auto;
  right: 0;
}

.navItemTime .el-date-editor.el-input,
.navItemTime .el-date-editor.el-input__inner {
  width: 200px;
}

.updataTime {
  display: inline-block;
  margin-left: 10px;
  color: #d3d3d3;
}

.navItemReport {
  float: right;
  margin-right: 70px;
}

.navItemReport .el-button--primary {
  height: 30px;
  line-height: 30px;
  padding: 0 16px;
  background: #4642ff;
  border-color: #4642ff;
  font-size: 12px;
}

.navItem_breadcrumb{
  float: left;
  height: 45px;
  line-height: 45px;
}

.navItem_breadcrumb .el-breadcrumb{
  height: 45px;
  line-height: 45px;
}
.el-breadcrumb__inner a:hover, .el-breadcrumb__inner:hover{
  color: #4642ff;
}
