.optionList .itemBox {
  margin-right: 18px;
  position: relative;
  display: inline-block;
  width: 160px;
  padding-top: 6px;
  padding-bottom: 6px;
  height: 22px;
}

.optionList .name {
  position: absolute;
  left: 0px;
  line-height: 22px;
  font-size: 13px;
  color: #444;
}

.optionList .itemLine {
  max-height: 112px;
  margin-bottom: 10px;
  overflow: auto;
}

.optionList .item {
  line-height: 22px;
  position: absolute;
  left: 50px;
}

.optionList {
  height: auto;
}
