.compare-copyright {
  margin-left: 50px;
  margin-right: 50px;
}

.compare-copyright .button-box {
  height: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.compare-copyright .button-screen-shot {
  display: inline-block;
  padding-right: 8px;
  padding-left: 8px;
  margin-right: 25px;
  width: 100px;
  height: 33px;
  border: #4643ff solid 1px;
  border-radius: 8px;
  line-height: 33px;
  text-align: right;
}

.compare-copyright .button-screen-shot i {
  font-size: 1.5rem;
  height: 33px;
  line-height: 33px;
  float: left;
  color: #4643ff;
  vertical-align: top;
  display: inline-block;
  margin-left: 2px;
}

.compare-copyright .button-screen-shot span {
  float: left;
  margin-left: 12px;
  vertical-align: top;
  display: inline-block;
  height: 33px;
  color: #4643ff;
  line-height: 33px;
  font-size: 12px;
}

.compare-copyright .button-text-compare {
  display: inline-block;
  padding-right: 8px;
  padding-left: 8px;
  margin-right: 25px;
  width: 100px;
  height: 33px;
  background: #4643ff;
  border: #4643ff solid 1px;
  border-radius: 8px;
  line-height: 33px;
  text-align: right;
}

.compare-copyright .button-text-compare i {
  font-size: 1.5rem;
  height: 33px;
  line-height: 33px;
  float: left;
  color: white;
  vertical-align: top;
  display: inline-block;
  margin-left: 2px;
}

.compare-copyright .button-text-compare span {
  float: left;
  margin-left: 12px;
  vertical-align: top;
  display: inline-block;
  height: 33px;
  color: #ffffff;
  line-height: 33px;
  font-size: 12px;
}

.compare-copyright span {
  margin-left: 12px;
  vertical-align: top;
  display: inline-block;
  height: 33px;
  color: #444;
  line-height: 33px;
  font-size: 12px;
}
